* {
    box-sizing: border-box;
}

button {
    padding: 9px;
    width: max-content;
    height: max-content;
}

.inline-block {
    display: inline;
}

li {
    list-style: none;
}

.pdg {
    padding: 9px;
}

.bdr {
    border: 1px solid tomato;
    border-color: gray;
}

.bdr-red {
    border-color: red;
}

.width-max {
    width: 100%;
}

.mrk-bdr-1 {
    border: 1px solid yellowgreen;
}

.mrk-bkg-1 {
    background-color: #2d866036;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 9px;
}

.flex-dir--col {
    flex-direction: column;
}

.justify--start {
    justify-content: flex-start;
}

.flex__align--start {
    align-items: start;
}

.flex-dir--r {
    flex-direction: row;
}

.flex-item {
    flex-basis: 100%;
}

/* list */

.list-style--none {
    list-style: none;
}

/* modal */

.modal {
    /* display: block; */
    position: fixed;
    top: 10px;
    left: 50px;
    /* width: 80%; */
    /* height: 80%; */
    background-color: #283b53;
}
